﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<NavliteViewComponent> Localizer

<header>
	<nav id="nav-lite" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation">
				<i class="fa fa-bars"></i>
			</button>
			<img src="image/ivIT.png" class="navbar-logo pull-left" alt=""/>
			<a href="@Url.Page("Index")" class="navbar-brand animated flipInX">@Localizer["Back"]</a>
		</div><!-- /.container -->
	</nav>
</header>