﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ReferenceViewComponent> Localizer
@model IEnumerable<ivit.client.ViewModels.ProjectViewModel>

<section id="reference" class="content-second">
	<a asp-page="Portfolio">
		<h2 class="scrollpoint sp-effect3">@Localizer["Projects"]</h2>
	</a>
	<p class="scrollpoint sp-effect3">@Localizer["LastProjects"]</p>
	<ul class="grid cs-style-4">
		@foreach (var project in Model)
		{
			<li>
				<figure class="scrollpoint sp-effect1">
					<div>
						<img src="@project.LogoPath" alt="img04">
					</div>
					<figcaption>
						<h3>@project.Title</h3>
						<a asp-page="Project" asp-route-id="@project.Id">@Localizer["ShowMe"]</a>
					</figcaption>
				</figure>
			</li>
		}
	</ul>

</section>