﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<NumbersViewComponent> Localizer

<section id="separator" class="content-first">
    <div class="container">
        <div class="row scrollpoint sp-effect3">
            <div class="col-sm-2">
                <i class="fa fa-user"></i>
                <p><span class="number highlight" data-from="0" data-to="3482" data-refresh-interval="11"></span> @Localizer["HappyClients"]</p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-coffee"></i>
                <p><span class="number highlight" data-from="0" data-to="1821" data-refresh-interval="10"></span> @Localizer["Coffee"]</p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-code"></i>
                <p><span class="number highlight" data-from="0" data-to="200000" data-refresh-interval="66"></span> @Localizer["Lines"]</p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-envelope"></i>
                <p><span class="number highlight" data-from="0" data-to="500" data-refresh-interval="15"></span> @Localizer["Emails"]</p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-bug"></i>
                <p><span class="number highlight" data-from="0" data-to="981" data-refresh-interval="21"></span> @Localizer["Bug"]</p>
            </div>
            <div class="col-sm-2">
                <i class="fa fa-thumbs-up"></i>
                <p><span class="number highlight" data-from="0" data-to="17" data-refresh-interval="3"></span> @Localizer["Releases"]</p>
            </div>
        </div>
    </div>
</section>