﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<LanguageViewComponent> Localizer

<a id="change-language-anchor" href="javascript:void(0)" class="scroll blog_menu_link">@Localizer["ButtonText"]</a>
<form id="change-language" method="post" asp-page-handler="ChangeCulture" asp-route-returnUrl="@Context.Request.Path.ToString()" asp-route-returnQuerystring="@Context.Request.QueryString"></form>

<script>
	$(document).ready(function() {
		window.$("#change-language-anchor").click(function() {
			window.$("#change-language").submit();
		});
	});
</script>