﻿@model KeyValuePair<string, string>

<div class="event">
    <div class="event-info">
        <div class="date">@Model.Key</div>
    </div>
    @foreach (var line in Model.Value.Split("|"))
    {
        <span>@line</span><br />
    }

</div> 