﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ResumeViewComponent> Localizer

<section id="pricing" class="content-first">
    <div class="container">
        <h2 class="scrollpoint sp-effect3">@Localizer["Resume"]</h2>
        <p class="scrollpoint sp-effect3">@Localizer["ResumeDesc"]</p>
        <div class="row">
            <div class="col-sm-6 scrollpoint sp-effect1">
                <div class="pricing-table">
                    <div class="pricing-headline">
                        <h3>@Localizer["Polish"]</h3>
                    </div>

                    <div class="btn-wrapper">
                        <a target="_blank" href="resume/PL.pdf" class="btn btn-primary">@Localizer["Show"]</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 scrollpoint sp-effect3">
                <div class="pricing-table">
                    <div class="pricing-headline">
                        <h3>@Localizer["English"]</h3>
                    </div>
                    <div class="btn-wrapper">
                        <a target="_blank" href="resume/EN.pdf" class="btn btn-primary">@Localizer["Show"]</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>