﻿.image-max-size {
	max-height: 175px;
	max-width: 175px;
}

.rounded-image {
	/* ReSharper disable once CssBrowserCompatibility */
	border-radius: 15px;
	padding: 5px
}

.rounded-carousel {
	/* ReSharper disable once CssBrowserCompatibility */
	border-radius: 15px;
	overflow: hidden;
}