﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ContactViewComponent> Localizer

<section id="contact" class="content-second">
	<div class="container">
		<h2 class="scrollpoint sp-effect3">@Localizer["ContactMe"]</h2>
		<div class="contact-alert">
		</div>
		<div class="row">
			<!-- PRICING TABLE FIRST - start -->
			<div class="col-sm-12">
				<img src="image/macbook.png" class="img-responsive hidden-xs" alt="">

				<div class="macbook-inner black">
					<div class="row scrollpoint sp-effect4">
						<div class="col-sm-8">
							<h3 class="hidden-xs">@Localizer["LeaveMessage"]</h3>

							<form id="contactForm" role="form" method="post" asp-page-handler="SendMessage" asp-route-returnUrl="@Context.Request.Path.ToString()">
								<div class="form-group control-group">
									<div class="controls">
										<p class="help-block"></p>
										<input type="text" name="model.FirstName" class="form-control" placeholder="@Localizer["FirstNamePlaceHolder"]" id="firstname" aria-invalid="false" required>
									</div>
								</div>

								<div class="form-group control-group">
									<div class="controls">
										<p class="help-block"></p>
										<input type="text" class="form-control" name="model.LastName" placeholder="@Localizer["LastNamePlaceHolder"]" id="lastname" aria-invalid="false" required>
									</div>
								</div>

								<div class="form-group control-group">
									<div class="controls">
										<p class="help-block"></p>
										<input type="email" class="form-control" name="model.Email" placeholder="@Localizer["EmailPlaceHolder"]" id="email" aria-invalid="false" required>
									</div>
								</div>

								<div class="form-group control-group">
									<div class="controls">
										<p class="help-block"></p>
										<textarea class="form-control" name="model.Message" placeholder="@Localizer["MessagePlaceHolder"]" id="message" aria-invalid="false" required></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<button type="submit" class="btn btn-primary">@Localizer["SendMessage"]</button>
								</div>
							</form>

						</div>
						<div class="col-sm-4">

							<img src="image/face.png" class="contact-image image-responsive hidden-xs hidden-sm" alt=""/>
							<div class="contact-info">
								<p>ivIT</p>
								<p>Łukasz Iwanków</p>
								<p>@Localizer["Wroclaw"]</p>
								<p>@Localizer["Poland"]</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>