﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<NavlitelangViewComponent> Localizer

<header>
	<nav id="nav-lite-lang" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation">
				<i class="fa fa-bars"></i>
			</button>
			<img src="image/ivIT.png" class="navbar-logo pull-left" alt=""/>
			<a href="@Url.Page("Index")" class="navbar-brand animated flipInX">@Localizer["Back"]</a>


			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="myNavigation">
				<ul class="nav navbar-nav navbar-right animated flipInX">
					<li>
						<vc:Language></vc:Language>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
</header>