﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AboutViewComponent> Localizer
@model ivit.client.ViewModels.AboutViewComponentModel

<section id="about" class="content-first">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 hidden-xs scrollpoint sp-effect1">
                <!-- Profile image -->
                <img src="image/ivIT.png" class="image-bordered img-responsive" alt="" />
            </div><!-- Profile end -->

            <div class="col-md-6 col-sm-6 scrollpoint sp-effect1">
                <!-- Profile description -->
                <h3>Łukasz Iwanków</h3>
                <p>@Localizer["AboutMe"]</p>
            </div><!-- Profile description end-->

            <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                <!--Timeline-->

                <div class="timeline">
                    @foreach (var timelineEvent in Model.Events)
                    {
                        <vc:Event model=@timelineEvent></vc:Event>
                    }
                </div><!--timeline-->
            </div><!--col 3 end-->

        </div><!--Row about end-->


        <div class="row">
            <div class="col-md-12 text-center">
                <a id="skills-toggle" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> @Localizer["CheckMySkills"]</a>
            </div>
        </div>
    </div><!-- Container end-->

    <div id="skills">
        <div class="container">
            @for (var i = 0; i < Model.Skills.Count() / 4.0; i++)
            {
                <div class="row">
                    @foreach (var skill in Model.Skills.Skip(i * 4).Take(4))
                    {
                        <vc:Skill model=@skill></vc:Skill>
                    }
                </div><!-- Container end-->
            }
        </div><!-- Container end-->
    </div>
</section>