﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<JumbotronViewComponent> Localizer

<div class="jumbotron">
	<img src="image/face.png" class="img-responsive scrollpoint sp-effect3" alt="" />
	<div class="social-wrapper">
		<ul class="brands brands-inline hidden-xs scrollpoint sp-effect1">
			<li>
                <a href="https://www.linkedin.com/in/lukasziwankow/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
			</li>
		</ul>
		<h2 class="scrollpoint sp-effect3">Łukasz Iwanków</h2>
		<ul class="brands brands-inline hidden-xs scrollpoint sp-effect2">
			<li>
				<a href="https://www.linkedin.com/in/lukasziwankow/" target="_blank">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
		</ul>
	</div>
	<!-- Slideshow start -->
	<div id="slideshow" class="carousel slide vertical scrollpoint sp-effect3" data-ride="carousel">
		<div class="carousel-inner">
			<!-- Slideshow item 1 active -->
			<div class="item active">
				<h3>
					<i class="fa fa-code icon-first"></i> @Localizer["Dev"]
				</h3>
			</div>
			<!-- Slideshow item 2 -->
			<div class="item">
				<h3>
					<i class="fa fa-users icon"></i> @Localizer["Tl"]
				</h3>
			</div>
			<!-- Slideshow item 3 -->
			<div class="item">
				<h3>
					<i class="fa fa-trophy icon-second"></i> @Localizer["Ops"]
				</h3>
			</div>
		</div>
	</div>
	<!-- Slideshow end -->
	<a href="#pricing" class="btn btn-reference-secondary btn-lg scroll scrollpoint sp-effect1" role="button">
		<i class="fa fa-file-o"></i> @Localizer["CV"]
	</a>
	<a href="#about" class="btn btn-reference btn-lg scroll scrollpoint sp-effect1" role="button">
		<i class="fa fa-smile-o"></i> @Localizer["Know"]
	</a>
	<a href="#contact" class="btn btn-reference-third btn-lg scroll scrollpoint sp-effect2" role="button">
		<i class="fa fa-bolt"></i> @Localizer["Hire"]
	</a>
</div>