﻿<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 scrollpoint sp-effect3">

                <ul class="brands brands-inline">
                    <li>
                        <a href="https://www.linkedin.com/in/lukasziwankow/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <p>Design by <b>ivIT Łukasz Iwanków</b>. Theme by <a href="http://www.pixelized.cz/" target="_blank">Pixelized Studio</a></p>
                <div>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a>, <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            </div>
        </div>
    </div>
</section>