﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<ServicesViewComponent> Localizer

<section id="services" class="content-second">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="scrollpoint sp-effect3">@Localizer["WhatIDo"]</h2>
                <p class="scrollpoint sp-effect3">@Localizer["WhatIDoDesc"]</p>
            </div>

            <div class="col-md-3 service scrollpoint sp-effect1">
                <img src="image/services1.png" class="image-max-size" alt="">
                <h3>@Localizer["ComplexSolutions"]</h3>
                <p>@Localizer["ComplexSolutionsDesc"]</p>
            </div>


            <div class="col-md-3 service scrollpoint sp-effect2">
                <img src="image/services2.png" class="image-max-size" alt="">
                <h3>@Localizer["BackendDevelopment"]</h3>
                <p>@Localizer["BackendDevelopmentDesc"]</p>
            </div>


            <div class="col-md-3 service scrollpoint sp-effect3">
                <img src="image/services3.png" class="image-max-size" alt="">
                <h3>@Localizer["HobbyProjects"]</h3>
                <p>@Localizer["HobbyProjectsDesc"]</p>
            </div>

            <div class="col-md-3 service scrollpoint sp-effect1">
                <img src="image/services4b.png" class="image-max-size" alt="">
                <h3>@Localizer["ContinousLearning"]</h3>
                <p>@Localizer["ContinousLearningDesc"]</p>
            </div>
        </div>
    </div>
</section>