﻿@model ivit.client.ViewComponents.TitleViewComponent

<div class="jumbotron">
	<img src="@Model.Content.LogoPath" class="img-responsive scrollpoint sp-effect3" alt="" />
	<div class="social-wrapper">
		
		<ul class="brands brands-inline hidden-xs scrollpoint sp-effect1">
			<li>
				<a href="#"></a>
			</li>
		</ul>
		<h2 class="scrollpoint sp-effect3">@Model.Content.Title</h2>
		<ul class="brands brands-inline hidden-xs scrollpoint sp-effect2">
			<li>
				<a href="#"></a>
			</li>
		</ul>
	</div>
</div>