﻿<!DOCTYPE html>
<html>
@* ReSharper disable once MissingTitleTag *@
<head>
	<vc:Gtag></vc:Gtag>
	<vc:head></vc:head>
</head>

<body id="page-top">
    <vc:Top></vc:Top>

    <!-- ==========================
    NAV - START
    =========================== -->
    <vc:Navlite></vc:Navlite>
    <!-- ==========================
    NAV - END
    =========================== -->
    <!-- ==========================
    BODY - START
    =========================== -->
    @RenderBody()
    <!-- ==========================
    BODY - END
    =========================== -->
    <!-- ==========================
    FOOTER - START
    =========================== -->
    <vc:Footer></vc:Footer>
    <!-- ==========================
    FOOTER - END
    =========================== -->

    @RenderSection("Scripts", false)
</body>
</html>