﻿<!DOCTYPE html>
<html>
@* ReSharper disable once MissingTitleTag *@
<head>
	<vc:Gtag></vc:Gtag>
	<vc:head></vc:head>
</head>

<body id="page-top">
<vc:Top></vc:Top>

<!-- ==========================
HEADER - START
=========================== -->
<vc:Header></vc:Header>
<!-- ==========================
HEADER - END
=========================== -->

<!-- ==========================
BODY - START
=========================== -->
@RenderBody()
<!-- ==========================
BODY - END
=========================== -->

<!-- ==========================
FOOTER - START
=========================== -->
<vc:Footer></vc:Footer>
<!-- ==========================
FOOTER - END
=========================== -->

@RenderSection("Scripts", false)
</body>
</html>