﻿@using ivit.client.ViewComponents
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<NavigationViewComponent> Localizer

<nav id="nav-default" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavigation">
			<i class="fa fa-bars"></i>
		</button>
		<img src="image/ivIT.png" class="navbar-logo pull-left" alt=""/>
		<a href="@Url.Page("Index")" class="navbar-brand animated flipInX">ivIT</a>


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="myNavigation">
			<ul class="nav navbar-nav navbar-right animated flipInX">
				<li>
					<a href="#about" class="scroll">@Localizer["AboutMe"]</a>
				</li>
				<li>
					<a href="#services" class="scroll">@Localizer["WhatIDo"]</a>
				</li>
				<li>
					<a href="#reference" class="scroll">@Localizer["LastProjects"]</a>
				</li>
				<li>
					<a href="#pricing" class="scroll">@Localizer["Resume"]</a>
				</li>
				<li>
					<a href="#contact" class="scroll">@Localizer["Contact"]</a>
				</li>
				<li>
					<a href="@Url.Page("Portfolio")" class="scroll portfolio_menu_link">@Localizer["Portfolio"]</a>
				</li>
				<li>
					<vc:Language></vc:Language>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav>