﻿@page
@model ivit.client.Pages.CvModel
@{
    Layout = "_LayoutLite";
    ViewData["Title"] = "Cv";
}

<h2>Cv</h2>
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
DUPA<br />
