﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel
@inject IHtmlLocalizer<IndexModel> Localizer

@{
	ViewData["Title"] = Localizer["Title"];
}

<!-- ==========================
ABOUT - START
=========================== -->
<vc:About></vc:About>
<!-- ==========================
ABOUT - END
=========================== -->
<!-- ==========================
SERVICES - START
=========================== -->
<vc:Services></vc:Services>
<!-- ==========================
SERVICES - END
=========================== -->
<!-- ==========================
NUMBERS - START
=========================== -->
<vc:Numbers></vc:Numbers>
<!-- ==========================
NUMBERS - END
=========================== -->
<!-- ==========================
REFERENCE - START
=========================== -->
<vc:Reference></vc:Reference>
<!-- ==========================
REFERENCE - END
=========================== -->
<!-- ==========================
PRICING - START
=========================== -->
<vc:Resume></vc:Resume>
<!-- ==========================
PRICING - END
=========================== -->
<!-- ==========================
CONTACT - START
=========================== -->
<vc:Contact></vc:Contact>
<!-- ==========================
CONTACT - END
=========================== -->
