﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ivit.client.Pages.PortfolioModel
@inject IHtmlLocalizer<PortfolioModel> Localizer

@{
	Layout = "_LayoutLiteLanguage";
	ViewData["Title"] = Localizer["Portfolio"];
	var projectCounter = 0;
}

<section id="pricing" class="content-first">
	<div class="container">
		<h2 class="scrollpoint sp-effect3">@Localizer["Portfolio"]</h2>
		<p>@Localizer["ShortDescription"]</p>
	</div>
</section>
<section class="content-second">
	<ul class="grid cs-style-4">
		@foreach (var project in Model.Content)
		{
			var figureCounter = projectCounter % 4;
			var figureClass = figureCounter == 0
				? "scrollpoint sp-effect4" : figureCounter == 1
					? "scrollpoint sp-effect3" : figureCounter == 2
						? "scrollpoint sp-effect2" : "scrollpoint sp-effect1";
			<li>
				<figure class="@figureClass">
					<div>
						<img src="@project.LogoPath" alt="img04">
					</div>
					<figcaption>
						<h3>@project.Title</h3>
						<a asp-page="Project" asp-route-id="@project.Id">@Localizer["ShowMe"]</a>
					</figcaption>
				</figure>
			</li>
			projectCounter++;
		}
	</ul>
</section>
