﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ProjectModel
@inject IHtmlLocalizer<ProjectModel> Localizer

@{
	Layout = "_LayoutLiteLanguage";
	ViewData["Title"] = Model.Content.Title;
}

<header>
	@await Component.InvokeAsync("Title", new { title = Model.Content.Title, imagePath = Model.Content.LogoFileName })
</header>

<section id="description" class="content-second">
	<div class="container">
		<h3>@Model.Content.LongDescription</h3>
	</div>
</section>

<section id="separator" class="content-first">
	<div class="container">
		<div class="row scrollpoint sp-effect3">
			<div class="col-sm-4">
				<i class="fa fa-file-code-o"></i>
				<p>@Localizer["ProjectType"] <b>@Model.Content.Type</b></p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-calendar"></i>
				<p>@Localizer["ProjectDate"] <b>@Model.Content.StartDate - @Model.Content.EndDate</b></p>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-user"></i>
				<p>@Localizer["ProjectRole"] <b>@Model.Content.Role</b></p>
			</div>
		</div>
	</div>
</section>

@switch (Model.ColumnsCounter)
{
	case 1:
		{
			<section class="content-second">
				<div class="container">
					@if (Model.Content.BackendTechnologies.Any())
					{
						<div class="col-sm-12">
							<h3>@Localizer["Backend"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.BackendTechnologies)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.Libraries.Any())
					{
						<div class="col-sm-12">
							<h3>@Localizer["Libraries"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.Libraries)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.FrontendTechnologies.Any())
					{
						<div class="col-sm-12">
							<h3>@Localizer["Frontend"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.FrontendTechnologies)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.Others.Any())
					{
						<div class="col-sm-12">
							<h3>@Localizer["Other"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.Others)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
				</div>
			</section>
			break;
		}
	case 2:
		{
			<section class="content-second">
				<div class="container">
					@if (Model.Content.BackendTechnologies.Any())
					{
						<div class="col-sm-6">
							<h3>@Localizer["Backend"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.BackendTechnologies)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.Libraries.Any())
					{
						<div class="col-sm-6">
							<h3>@Localizer["Libraries"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.Libraries)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.FrontendTechnologies.Any())
					{
						<div class="col-sm-6">
							<h3>@Localizer["Frontend"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.FrontendTechnologies)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.Others.Any())
					{
						<div class="col-sm-6">
							<h3>@Localizer["Other"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.Others)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
				</div>
			</section>
			break;
		}
	case 3:
		{
			<section class="content-second">
				<div class="container">
					@if (Model.Content.BackendTechnologies.Any())
					{
						<div class="col-sm-4">
							<h3>@Localizer["Backend"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.BackendTechnologies)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.Libraries.Any())
					{
						<div class="col-sm-4">
							<h3>@Localizer["Libraries"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.Libraries)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.FrontendTechnologies.Any())
					{
						<div class="col-sm-4">
							<h3>@Localizer["Frontend"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.FrontendTechnologies)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
					@if (Model.Content.Others.Any())
					{
						<div class="col-sm-4">
							<h3>@Localizer["Other"]</h3>
							<ul>
								@foreach (var listElement in Model.Content.Others)
								{
									<li>
										@listElement
									</li>
								}
							</ul>
						</div>
					}
				</div>
			</section>
			break;
		}
	case 4:
		{
			<section class="content-second">
				<div class="container">
					<div class="col-sm-3">
						<h3>@Localizer["Backend"]</h3>
						<ul>
							@foreach (var listElement in Model.Content.BackendTechnologies)
							{
								<li>
									@listElement
								</li>
							}
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>@Localizer["Libraries"]</h3>
						<ul>
							@foreach (var listElement in Model.Content.Libraries)
							{
								<li>
									@listElement
								</li>
							}
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>@Localizer["Frontend"]</h3>
						<ul>
							@foreach (var listElement in Model.Content.FrontendTechnologies)
							{
								<li>
									@listElement
								</li>
							}
						</ul>
					</div>
					<div class="col-sm-3">
						<h3>@Localizer["Other"]</h3>
						<ul>
							@foreach (var listElement in Model.Content.Others)
							{
								<li>
									@listElement
								</li>
							}
						</ul>
					</div>
				</div>
			</section>
			break;
		}
}


@if (Model.Content.ScreensFileName != null)
{
	<section id="screenshots" class="content-first">
		<div class="container">
			<h2>@Localizer["Screenshots"]</h2>
			<div id="screenCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					@for (var i = 0; i < Model.Content.ScreensFileName.Count; i++)
					{
						if (i == 0)
						{
							<li data-target="#screenCarousel" data-slide-to="@i" class="active"></li>
						}
						else
						{
							<li data-target="#screenCarousel" data-slide-to="@i"></li>
						}

					}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					@for (var i = 0; i < Model.Content.ScreensFileName.Count; i++)
					{
						if (i == 0)
						{
							<div class="item active">
								<img src="@Model.Content.ScreensFileName[i]" alt="">
							</div>
						}
						else
						{
							<div class="item">
								<img src="@Model.Content.ScreensFileName[i]" alt="">
							</div>
						}
					}
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#screenCarousel" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
				<a class="right carousel-control" href="#screenCarousel" data-slide="next"><i class="fa fa-arrow-right"></i></a>
			</div>
		</div>
	</section>
}

